doctype html 
html 
    head 
        title CJ Dance Acadamy
        <link rel="apple-touch-icon" sizes="180x180" href="../static/img/favicon_io/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../static/img/favicon_io/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../static/img/favicon_io/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">

        block style
        block script 
    body
        nav#navbar
            ul
                div#logo
                    img(src="/static/img/logoo.png")
                li #[a(href="/") Home]
                li #[a(href="/") About]
                li #[a(href="/") Services]
                li #[a(href="/") Class Info]
                li #[a(href="/contact") Contact Us]

        block content
        footer#footer
            | Copyright © 2022 CJDanceAcademy.com | All Rights Reserved         